name: CI/CD Auto Deploy

on:
  push:
    branches: [ master ]

jobs:
  # =========================================
  # DEPLOY KE LAPTOP DANENDRA
  # =========================================
  deploy-Danendra:
    runs-on: [my_laptop]  # label runner Danendra
    steps:
      - name: Set project path
        run: |
          PROJECT_PATH=~/WAP_Library
          echo "PROJECT_PATH=$PROJECT_PATH" >> $GITHUB_ENV
      
      - name: Pull latest changes
        working-directory: ${{ env.PROJECT_PATH }}
        run: |
          git fetch origin master
          git reset --hard origin/master

      - name: Restart Docker
        working-directory: ${{ env.PROJECT_PATH }}
        run: |
          docker compose down || true
          docker compose up -d --build

  # =========================================
  # DEPLOY KE LAPTOP HUSAIN
  # =========================================
  deploy-husain:
    runs-on: [laptop-Husain]  # label runner Husain
    
    steps:
      - name: Set project path
        run: |
          PROJECT_PATH=~/WAP_Library
          echo "PROJECT_PATH=$PROJECT_PATH" >> $GITHUB_ENV

      - name: Pull latest changes
        working-directory: ${{ env.PROJECT_PATH }}
        run: |
          git fetch origin master
          git reset --hard origin/master

      - name: Restart Docker
        working-directory: ${{ env.PROJECT_PATH }}
        run: |
          docker compose down || true
          docker compose up -d --build
