name: PHP Syntax Checker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  php-lint:
    runs-on: my_laptop
    
    steps:
    - name: WAP_Library
      uses: actions/checkout@v3


    - name: Check PHP Version
      run: php -v


    - name: Run PHP Lint (Syntax Check)
      run: find . -name "*.php" -print0 | xargs -0 -n1 php -l
